div {
	border : 1px black solid;

}

#title {
	background-color: black;
	color: white;
}

#buttons {
	width: 515px;
}

.forward, .stop, .left, .right, .reverse, .st_left, .st_right, .blank {
	width: 150px;
	height:150px;
	margin: 2px;
	display: inline-block;
}

